* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo{
    font-size: large;
    font-weight: bold;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;

}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #2c2c2c;
}

p{
    color: #2c2c2c;
}

.container {
    max-width: 1300px;
    height: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: #2c2c2c;
}

.btn{
    display: inline-block;
    background: #c8a8c8;
    color: whitesmoke;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 10px;
    transition: all 0.5s;
}

.header{
    background:radial-gradient(whitesmoke,#c8a8c8);
}

.header .row{
    margin-top: 70px;
}

.btn:hover{
    background: #796479;
}

.featured{
    margin: 70px 0;
}

.col-4{
    flex-basis: 25%;
    min-width: 200px;
    margin-bottom: 50px;
    padding: 10px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #2c2c2c;
}

.title::after{
    content: '';
    background: #c8a8c8;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #2c2c2c;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.col-4:hover{
    transform: translateY(-5px);
}

.offer{
    background:radial-gradient(whitesmoke,#c8a8c8);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-image{
    padding: 50px;

}

small{
    color: #2c2c2c;
}

.brands{
    margin: 100px auto;
}

.col-3{
    width: 160px;
}

.col-3 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-3 img:hover{
    filter: grayscale(0);
}

.social {
	list-style-type: none;
	text-align: center;

}

.social li {
	display: inline;

}

.social i {
	font-size: 270%;
	margin: 1% 5% 7% 4%;
	color: #2c2c2c;
}

.social i:hover {
	color: #606060;
}

footer.second {
	
	background-color: #2c2c2c;

}

footer.second p {
	color: whitesmoke;
	padding: 5%;
	text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%;
        background: #2c2c2c;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: whitesmoke;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}